.Report_Body h2 {
	font-size: 1.1em;
	font-weight: bold;
}

.Report_Body ul {
	list-style-type: disc;
}

.Report_Body ul,
.Report_Body ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
	margin-left: 0;
	padding-left: 1em;
}

.Report_Body li {
	display: list-item;
}

.Report_Body a {
	text-decoration: underline;
}

.Report_Body strong {
	font-weight: bold;
}

.Report_Body p {
	margin-top: 5px;
	margin-bottom: 15px;
}