.ContentPage_Body h2 {
  font-size: 1.1em;
  font-weight: bold;
}
.ContentPage_Body ul {
	list-style-type: disc;
}
.ContentPage_Body ul,
.ContentPage_Body ol {
  margin: 1em 0;
	padding: 0 0 0 40px;
	margin-left: 0;
  padding-left: 1em;
}
.ContentPage_Body li {
  display: list-item;
}
.ContentPage_Body a {
	text-decoration: underline;
}
.ContentPage_Body strong {
	font-weight: bold;
}
.ContentPage_Body p {
	margin-top: 5px;
	margin-bottom: 15px;
}
