.LoginPage {
	background: #15AEEF;
	height: 100dvh;/* Dynamic viewport height: https://i.stack.imgur.com/plYwy.png */
	display:flex;
	justify-content: center;
	flex-direction: column;
}

.LoginBox {
}