.base {
/*  min-width: 80vw !Important;*/
/*  max-width: 80vw !Important;*/
/*  width: 80vw !Important;*/
/*  height: 334px;*/
/*  height: 100%;*/
  height: 113px;
  display: flex;
  justify-content: flex-end;
}
