.icon-type {
  top: 168px;
  left: 49px;
  width: 12px;
  height: 12px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  /* UI Properties */
  background: #fff 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 3px solid #00CE83;
  border-radius: 100%;
  opacity: 1;  
}
