# acceptance
ACC_AZURE_APP_NAME=
ACC_NEXTAUTH_SECRET=
ACC_NEXTAUTH_URL=/login
ACC_NEXT_PUBLIC_MAPBOX_TOKEN=
ACC_DATABASE_URL=
ACC_NEXT_PUBLIC_API_BASE_URL=/
ACC_NEXT_PUBLIC_WEB_BASE_URL=/

# production
PROD_AZURE_APP_NAME=
PROD_NEXTAUTH_SECRET=
PROD_NEXTAUTH_URL=/login
PROD_NEXT_PUBLIC_MAPBOX_TOKEN=
PROD_DATABASE_URL=
PROD_NEXT_PUBLIC_API_BASE_URL=/
PROD_NEXT_PUBLIC_WEB_BASE_URL=/