.richTextEditor {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.editorContainer {
  position: relative;
  min-height: 300px;
}

.toolbar {
  display: flex;
  gap: 8px;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  background-color: #f8f9fa;
  flex-wrap: wrap;
}

.toolbarItem {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
}

.toolbarItem:hover {
  background-color: #f0f0f0;
}

.toolbarItem:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.toolbarItem.active {
  background-color: #e3e3e3;
  border-color: #999;
}

.spaced {
  margin-right: 4px;
}

.divider {
  width: 1px;
  background-color: #ccc;
  margin: 0 4px;
  align-self: stretch;
}

.editorInput {
  min-height: 250px;
  padding: 16px;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
}

.editorPlaceholder {
  color: #999;
  position: absolute;
  top: 16px;
  left: 16px;
  pointer-events: none;
  user-select: none;
}

.editorErrorBoundary {
  padding: 16px;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
}

.editorInput ul {
  list-style-type: disc;
}

.editorInput ol {
  list-style-type: decimal;
}

.editorInput li {
  margin-left: 16px;
}

.editorInput p {
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Format icons */
.format {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.format-undo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12.5 8c-2.65 0-5.05.99-6.9 2.6L2 7v9h9l-3.62-3.62c1.39-1.16 3.16-1.88 5.12-1.88 3.54 0 6.55 2.31 7.6 5.5l2.37-.78C21.08 11.03 17.15 8 12.5 8z'/%3E%3C/svg%3E");
}

.format-redo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.4 10.6C16.55 8.99 14.15 8 11.5 8c-4.65 0-8.58 3.03-9.96 7.22L3.9 16c1.05-3.19 4.05-5.5 7.6-5.5 1.95 0 3.73.72 5.12 1.88L13 16h9V7l-3.6 3.6z'/%3E%3C/svg%3E");
}

.format-bold {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M15.6 10.79c.97-.67 1.65-1.77 1.65-2.79 0-2.26-1.75-4-4-4H7v14h7.04c2.09 0 3.71-1.7 3.71-3.79 0-1.52-.86-2.82-2.15-3.42zM10 6.5h3c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5h-3v-3zm3.5 9H10v-3h3.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5z'/%3E%3C/svg%3E");
}

.format-italic {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M10 4v3h2.21l-3.42 8H6v3h8v-3h-2.21l3.42-8H18V4z'/%3E%3C/svg%3E");
}

.format-underline {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 17c3.31 0 6-2.69 6-6V3h-2.5v8c0 1.93-1.57 3.5-3.5 3.5S8.5 12.93 8.5 11V3H6v8c0 3.31 2.69 6 6 6zm-7 2v2h14v-2H5z'/%3E%3C/svg%3E");
}

.format-strikethrough {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.24 8.75c-.26-.48-.39-1.03-.39-1.67 0-1.84 1.61-3.33 3.59-3.33 1.33 0 2.49.58 3.27 1.5.78-.92 1.94-1.5 3.27-1.5 1.98 0 3.59 1.49 3.59 3.33 0 .64-.13 1.19-.39 1.67.78.58 1.23 1.33 1.23 2.17 0 1.84-1.61 3.33-3.59 3.33-1.33 0-2.49-.58-3.27-1.5-.78.92-1.94 1.5-3.27 1.5-1.98 0-3.59-1.49-3.59-3.33 0-.84.45-1.59 1.23-2.17zM12 17h2v-2h-2v2z'/%3E%3C/svg%3E");
}

.format-link {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z'/%3E%3C/svg%3E");
}

.format-list {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z'/%3E%3C/svg%3E");
}

.format-left-align {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M15 15H3v2h12v-2zm0-8H3v2h12V7zm0 4H3v2h12v-2zm6 8h-4v-2h4v2zm0-8h-4v-2h4v2zm0-8h-4V5h4v2z'/%3E%3C/svg%3E");
}

.format-center-align {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 15v2h10v-2H7zm-4-4h2v-2H3v2zm0 8h2v-2H3v2zm0-12h2V5H3v2zm4 4h14v-2H7v2zm0 8h14v-2H7v2zM7 5v2h14V5H7z'/%3E%3C/svg%3E");
}

.format-right-align {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3 15h12v-2H3v2zm0 4h12v-2H3v2zm0-8h12V9H3v2zm0-4h12V5H3v2zm18 12h-4v-2h4v2zm0-8h-4V9h4v2zm0-8h-4V5h4v2z'/%3E%3C/svg%3E");
}

.format-justify-align {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3 15h18v-2H3v2zm0 4h18v-2H3v2zm0-8h18V9H3v2zm0-4h18V5H3v2z'/%3E%3C/svg%3E");
}

.editorInput a {
  color: #0366d6;
  text-decoration: underline;
  cursor: pointer;
}

.editorInput a:hover {
  color: #024ea4;
}


